In [10]:
import os
import pandas as pd
import helper_functions

In [8]:
data_path = os.path.join(os.path.split(os.getcwd())[0],'data')
session_list = pd.read_csv(os.path.join(os.path.join(data_path,'session_list.csv')))
last_sessions = session_list.drop_duplicates(subset = ['mouse_id'], keep='last')
last_sessions

,mouse_id,sex,genotype,AP_coord,ML_coord,DV_coord,session_type,recording_date,processing_date
2,M339255,F,Gnb4-IRES2-Cre;AAV-GCaMP6s,1.5,2.625,2.7,anesthesia,0,2019-03-14 23:05:12.098660707-07:00
8,M334410,M,Gnb4-IRES2-Cre;AAV-GCaMP6s,1.5,2.625,2.5,passive,2017-10-27 10:57:47.469000,2018-12-14 01:47:16.329248905-08:00
9,M334412,M,Gnb4-IRES2-Cre;AAV-GCaMP6s,1.5,2.625,2.7,passive,2018-02-21 17:36:40.068000,2019-01-12 04:17:24.670338392-08:00
10,M406494,F,Gnb4-IRES2-CreERT2/wt;Ai148(TIT2L-GC6f-ICL-tTA...,1.5,2.625,2.5,passive,2019-03-25 15:10:42.239000,2019-03-26 00:37:22.994131088-07:00
13,M375765,M,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai93(TITL-...,1.5,2.625,2.5,passive,2018-09-20 12:42:49.962000,2018-12-14 03:37:29.648535967-08:00
14,M416531,F,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai93(TITL-...,1.5,3.125,2.5,passive,2019-03-25 14:22:21.518000,2019-03-26 01:21:12.827245235-07:00
15,M432805,M,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai93(TITL-...,1.0,3.125,2.0,passive,2019-06-11 17:23:22,2019-06-12 12:44:31.709861040-07:00
16,M335379,M,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai94(TITL-...,1.5,3.125,2.5,passive,2017-10-24 15:57:58.264000,2018-12-14 02:24:22.327345610-08:00
18,M332849,M,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai93(TITL-...,1.5,3.125,2.5,active,2018-06-14 12:44:33.658000,2018-07-26 12:11:01.983524799-07:00
19,M348126,F,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai94(TITL-...,1.5,2.625,2.5,active,2018-06-13 13:47:38.463000,2018-07-26 18:15:45.828682184-07:00
20,M351181,F,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai94(TITL-...,1.5,2.625,2.5,active,2018-03-14 14:32:15.328000,2018-07-26 18:59:36.293976068-07:00
21,M397408,F,Gnb4-IRES2-CreERT2/wt;Camk2a-tTA/wt;Ai93(TITL-...,1.5,2.625,2.5,active,2018-11-01 11:40:14.487000,2019-01-22 01:32:10.700291872-08:00

In [12]:
session = {}
for idx,row in last_sessions.reset_index().iterrows():
    session[row['mouse_id']] = helper_functions.load_session(row['mouse_id'], session_type=row['session_type'])
    print('on session {} of {}   '.format(idx+1,len(last_sessions)),end='\r')

In [19]:
len(session[row['mouse_id']].filtered_cell_ids)

28

In [25]:
cell_count_dict_list = []
for mouse_id in session.keys():
    cell_count_dict_list.append({
        'mouse_id':mouse_id, 
        'cell_count':len(session[mouse_id].filtered_cell_ids)
    })
cell_count_table = pd.DataFrame(cell_count_dict_list)    
cell_count_table

   mouse_id  cell_count
0   M339255         125
1   M334410          69
2   M334412         144
3   M406494          19
4   M375765          10
5   M416531          61
6   M432805          46
7   M335379         127
8   M332849         116
9   M348126          97
10  M351181         114
11  M397408          28

In [26]:
cell_count_table['cell_count'].describe()

count     12.000000
mean      79.666667
std       46.741715
min       10.000000
25%       41.500000
50%       83.000000
75%      118.250000
max      144.000000
Name: cell_count, dtype: float64

In [27]:
cell_count_table['cell_count'].sum()

956

In [28]:
956/12

79.66666666666667